# Gemini
GEMINI_API_KEY=your_api_key_here
GEMINI_MODEL=gemini-2.5-flash

# Embeddings
EMBEDDING_MODEL=all-MiniLM-L6-v2

# ChromaDB
CHROMA_PERSIST_PATH=./data/vectorstore
CHROMA_COLLECTION_NAME=products

# API
APP_NAME=RAG Product Search API
APP_VERSION=0.1.0
DEBUG=true

# LANGFUSE-OBSERVABILIDAD
LANGFUSE_PUBLIC_KEY=your-langfuse-public-key
LANGFUSE_SECRET_KEY=your-langfuse-secret-key
LANGFUSE_HOST=https://cloud.langfuse.com